MODELAGEM COM APOIO COMPUTACIONAL/article/mapa_solos_df_lat_long_wgs84.xls
MODELAGEM COM APOIO COMPUTACIONAL/article/mapbiomas_brasil_col9_state_municipality.xlsx
ANALISE DE SOBREVIVENCIA/notebooklm.txt
